<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Rock Paper or Scissors</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>

  <ion-card>
    <img src="/assets/imgs/chicken.jpg">
    <ion-card-content>
      <ion-card-title>
        Let's Play!
      </ion-card-title>
      <ion-item>
        <ion-label floating>What's your name?:</ion-label>
        <ion-input [(ngModel)]="name" type="text"></ion-input>
      </ion-item>
      <div text-center>
        <button text-center (click)="goto('GamePage')" ion-button round color="danger">Play</button>
      </div>
    </ion-card-content>
  </ion-card>
</ion-content>
