<ion-header>
  <ion-navbar>
    <ion-buttons start>
      <button ion-button style="color:green; background-color: transparent;" (click)="Logout()">
        <ion-icon name="log-out"></ion-icon>
      </button>
    </ion-buttons>
    <ion-title>Sith Lobby</ion-title>
  </ion-navbar>
</ion-header>

<ion-content class="setCoverImage">

  <!-- <ion-refresher  (ionRefresh)="doRefresh($event)">
    <ion-refresher-content pullingIcon="arrow-dropdown" pullingText="Updates" refreshingSpinner="circles" refreshingText="Updating...">
    </ion-refresher-content>
  </ion-refresher> -->

  <div *ngIf="choice=='lobby'">
    <ion-list *ngIf='loadedUsers'>
      <ion-card class="transparentCard" *ngFor="let user of usersOnline">
        <ion-row class="transparent">
          <ion-col text-wrap text-center class="transparent">
            <ion-item class="transparent">
              <h2 style="color:white">{{user.name}}</h2>
              <p style="color:white">Wins: {{user.wins}} , Losses:{{user.losses}}</p>
            </ion-item>
          </ion-col>
          <ion-col col-5 text-wrap text-center class="transparent">
            <ion-item class="transparent">
              <h2 style="color:white">Title</h2>
              <p style="color:white">{{Title(user.wins,user.losses)}}</p>
            </ion-item>
          </ion-col>
        </ion-row>
      </ion-card>
    </ion-list>
  </div>
  <div *ngIf="choice=='gameRoom'">
    <ion-list>
      <button text-center ion-item block color="dark" (click)="CreateGameRoom()">Create and Enter a GameRoom</button>
    </ion-list>
    <ion-list *ngIf='loadedGameRooms'>
      <ion-card class="transparentCard" *ngFor="let gr of gameRooms; let i=index">
        <ion-row class="transparent">
          <ion-col col-3 class="transparent">
            <ion-item text-wrap text-center class="transparent">
              <h2 style="color:white; background-color: transparent">Room</h2>
              <h3 style="color:white; background-color: transparent">{{gr.room}}</h3>
            </ion-item>
          </ion-col>
          <ion-col text-wrap text-center class="transparent">
            <ion-item class="transparent">
              <h2 style="color:white; background-color: transparent">{{getUserName(gr)}}</h2>
              <p style="color:white; background-color: transparent">Title: {{getUserTitle(gr)}}</p>
            </ion-item>
          </ion-col>
          <ion-col col-3 text-center text-wrap class="transparent">
            <ion-item class="transparent">
              <ion-avatar (tap)="goToFightArena(gr)">
                <img src="assets/imgs/2lightSabers.jpg" />
              </ion-avatar>
            </ion-item>
          </ion-col>
        </ion-row>
      </ion-card>
    </ion-list>
  </div>
</ion-content>

<ion-footer>
  <button *ngIf="choice=='gameRoom'" text-center ion-item block color="dark" (click)="DeleteGameRoom()">Delete your
    GameRoom</button>
  <ion-toolbar no-border no-margin>
    <ion-segment [(ngModel)]="choice" color="danger" (ionChange)="segmentChanged($event)">
      <ion-segment-button value="lobby">
        Lobby
      </ion-segment-button>
      <ion-segment-button value="gameRoom">
        Game Room
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar>
</ion-footer>
