page-online-tournament {
  .setCoverImage {
    background-image: url('../assets/imgs/tournament.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }
  .toolbar-background {
    background-color: black;
  }
  .toolbar-title {
    color: white !important;
  }
  .transparent {
    background-color: rgba(255, 0, 0, 0.15) !important;
    color: white;
    font-weight: bold;
  }
  .transparentCard {
    background-color: rgba(255, 0, 0, 0.15) !important;
    color: white;
    font-weight: bold;
    border-radius: 10px;
    border: 1px solid white;
  }
}

.loginCard {
  margin-top: 100px;
  border-radius: 10px;
  background-color: transparent;
  border: 1px solid rgba(255, 255, 255, 0.8);
  ion-item {
    background-color: transparent;
    color: white;
    border: none;
  }
  .label {
    color: white;
  }
  button {
    background-color: black;
  }
  .item-md.item-input.ng-valid.item-input-has-value:not(.input-has-focus):not(.item-input-has-focus) .item-inner,
  .item-md.item-input.ng-valid.input-has-value:not(.input-has-focus):not(.item-input-has-focus) .item-inner {
    border-bottom-color: none;
    -webkit-box-shadow: inset 0 -1px 0 0;
    box-shadow: inset 0 -1px 0 0;
  }
 /*  input:focus {
    background-color: transparent;
    color: white;
  } */
  .item-input-has-focus .label-md[stacked],
  .input-has-focus .label-md[stacked],
  .item-input-has-focus .label-md[floating],
  .input-has-focus .label-md[floating],
    {
    color: white !important;    
  }
}
