<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Play against a Sith Lord</ion-title>
  </ion-navbar>
</ion-header>


<ion-content padding>

  <ion-card>
    <img src="assets/imgs/vaderSplash.jpg">
    <ion-card-content>
      <ion-card-title>
        Let's Play!
      </ion-card-title>
      <ion-item>
        <ion-label floating>What's your name?:</ion-label>
        <ion-input [(ngModel)]="name" type="text"></ion-input>
      </ion-item>
      <div text-center>
        <button text-center (click)="goto('GameVaderArenaPage')" [disabled]="disablePlayButton"  ion-button round color="danger">Play</button>
      </div>
    </ion-card-content>
  </ion-card>
  <ion-list>
    <ion-item>
      <ion-avatar item-start><img src="assets/imgs/spock.png"></ion-avatar>
      <ion-label>Enable/Disable Spock</ion-label>
      <ion-toggle [(ngModel)]="spock"></ion-toggle>
    </ion-item>
    <ion-item text-center text-wrap>
      <p>just a reminder...touch lord Vader image in the arena to pester him.</p>      
    </ion-item>
  </ion-list>

</ion-content>
