page-game-vader {

    ion-row, ion-col, ion-card, ion-card-title, ion-card-content {
        background-color: black; color: white; 
    }

    ion-content, ion-item  {
        background-color: black !important; color: white !important; 
    }

    

}
