<ion-header>
    <ion-navbar>
      <button ion-button menuToggle>
        <ion-icon name="menu"></ion-icon>
      </button>
      <ion-title>Rules</ion-title>
    </ion-navbar>
  </ion-header>
  


<ion-content padding>

  <ion-slides pager="true">
    <ion-slide>
      <img src="assets/imgs/rule1.jpg"/>
    </ion-slide>
    <ion-slide>
        <img src="assets/imgs/rule2.jpg"/>
      </ion-slide>
      <ion-slide>
          <img src="assets/imgs/rule3.jpg"/>
        </ion-slide>
  </ion-slides>

</ion-content>
